@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;   
}
.color-primary{
    color: rgb(13, 19, 33);
}
.color-secondary{
    color: rgba(13, 19, 33, 0.7);
}

.font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.content-alignment{
    display: flex;
    justify-content: center;
}
.navbar{
    /* background-color: green; */
    display: flex;
    justify-content:center;
    font-size: 32px;
}
.navbox{
    width: 80%;
    margin:40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-button{
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 32px;
    cursor: pointer;
}

/* banner-seciton */
.banner{
    background-image: url(./assets/Hero-bg.png);
    width: 100%;
    height: 652px;
    display: flex;
    justify-content: center
}
.banner-box{
    width: 60%;
}
.dev-img{
    margin: 32px 0px;
}
.banner-title{
    font-size: 48px;
    text-align: center;
}
.banner-description{
    text-align: center;
    margin: 24px;
}
.banner-button{
    color: white;
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 28px;
    margin: 32px;
    cursor: pointer;
}

.button-anchor{
    text-decoration: none;
    color: white;
}

/* why-development-section */

.why-dev-box{
    background-color: rgba(13, 19, 33, 0.02);
    width: 65%;
    margin: 100px auto;
    border-radius: 8px;
    padding:80px 97px ;
}
.dev-title-box{
    text-align: center;
}

.dev-title-box>h1{
    font-size: 32px;
    margin: 24px;
}
.dev-title-box>p{
    opacity: 70%;
}
.content-1{
    background-color: white; 
    background-image: linear-gradient(to right, white , rgba(13, 19, 33, 0.02));
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    padding: 48px;
    border-radius: 10px;
}
.c1-part-1{
    margin-right: 90px;
}
.c1-part-1>h1{
    font-size: 24px;
}
.c1-part-1>p{
    opacity: 70%;
    margin: 20px 0px;
}
.content-button{
    font-size: 20px;
    padding: 12px 20px;
    background-color: white;
    opacity: 70%;
    cursor: pointer;
}
.content-2{
    background-color: white; 
    background-image: linear-gradient(to right,rgba(13, 19, 33, 0.02), white);
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 48px;
    border-radius: 10px;
}

.c2-part-1{
    margin-left: 90px;
}
.c2-part-1>h1{
    font-size: 24px;
}
.c2-part-1>p{
    opacity: 70%;
    margin: 20px 0px;
}

/* inspiration-section */

.ins-title-box{
    width: 65%;
    margin: 40px auto;
    text-align: center;
}
.ins-title-box>h1{
    font-size: 32px;
}
.ins-title-box>p{
    margin: 20px;
}

.video-box{
    width: 70%;
    height: 720px;
    margin:60px auto;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(128, 128, 128, 0.411);
    border-radius: 10px;
    padding: 40px;
}

.inner-box{
    width: 100%;
    height: 720px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

/* current-target-section */

.target-title-box{
    width: 65%;
    margin: 40px auto;
    text-align: center;
}
.target-title-box>h1{
    font-size: 32px;
}
.target-title-box>p{
    margin: 20px;
}

.target-box{
    margin: 150px 0px;
}
.target-item{
    width: 75%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.t-bg-1{
    background-color: rgba(255, 76, 30, 0.05);
}
.t-bg-2{
    background-color: rgba(0, 76, 232, 0.05);
}
.t-bg-3{
    background-color: rgba(255, 223, 0, 0.05);
}

.target{
    width: 25%;
    border-radius: 8px;
    padding: 40px;
}
.target-content>h1{
    font-size: 28px;
    margin:20px 0px;
}

.target-content>p{
    opacity: 70%;
    margin-bottom: 40px;
    line-height: 28px;
    font-size: 16px;
}
.target-content>a{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: bold;
}

.support-box{
    width: 75%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./assets/handshake.jpg);
    margin: 40px auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
.support-box{
    padding: 40px;
    border-radius: 8px;
}

.support-title-box>h1{
    color: white;
    font-size: 32px;
    padding: 28px;
}
.support-title-box>p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    opacity: 70%;
}

.support-input-box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-field{
    border: none;
    border-radius: 8px;
    padding: 19px 20px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}
.input-button{
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 17px 20px;
    background-color: rgb(255, 255, 255);
    margin: 0px 16px;
    cursor: pointer;
}

/* footer */

.footer-box{
    width: 100%;
    height: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-item{
    width: 80%;
    display: flex;
    justify-content: space-between;
}