@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;   
}
.color-primary{
    color: rgb(13, 19, 33);
}
.color-secondary{
    color: rgba(13, 19, 33, 0.7);
}

.font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.content-alignment{
    display: flex;
    justify-content: center;
}
.navbar{
    /* background-color: green; */
    display: flex;
    justify-content:center;
    font-size: 32px;
}
.navbox{
    width: 80%;
    margin:40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-button{
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 32px;
}

/* banner-seciton */
.banner{
    background-image: url(./assets/Hero-bg.png);
    width: 100%;
    height: 652px;
    display: flex;
    justify-content: center
}
.banner-box{
    width: 60%;
}
.dev-img{
    margin: 32px 0px;
}
.banner-title{
    font-size: 48px;
    text-align: center;
}
.banner-description{
    text-align: center;
    margin: 24px;
}
.banner-button{
    color: white;
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 28px;
    margin: 32px;
}

/* why-development-section */

.why-dev-box{
    background-color: rgba(13, 19, 33, 0.02);
    width: 65%;
    margin: 100px auto;
    border-radius: 8px;
    padding:80px 97px ;
}
.dev-title-box{
    text-align: center;
}

.dev-title-box>h1{
    font-size: 32px;
    margin: 24px;
}
.dev-title-box>p{
    opacity: 70%;
}
.content-1{
    background-color: white; 
    background-image: linear-gradient(to right, white , rgba(13, 19, 33, 0.02));
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    padding: 48px;
    border-radius: 10px;
}
.c1-part-1{
    margin-right: 90px;
}
.c1-part-1>h1{
    font-size: 24px;
}
.c1-part-1>p{
    opacity: 70%;
    margin: 20px 0px;
}
.content-button{
    font-size: 20px;
    padding: 12px 20px;
    background-color: white;
    opacity: 70%;
}
.content-2{
    background-color: white; 
    background-image: linear-gradient(to right,rgba(13, 19, 33, 0.02), white);
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 48px;
    border-radius: 10px;
}

.c2-part-1{
    margin-left: 90px;
}
.c2-part-1>h1{
    font-size: 24px;
}
.c2-part-1>p{
    opacity: 70%;
    margin: 20px 0px;
}
